/* Styling for making the site look nicer */

html {
  background-color: #333;
  color: white;
}

p {
  font-size: 18px;
}

h1 {
  text-align: center;
}
div {
  row-gap: 20px;
}

/* Styling for the zone import section. */
.zoneInputAndPreview {
  display: flex;
  padding: 50px;
}

.importPreviewDisplayer {
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 250px;
  max-height: 300px;
}

.importPreviewContainer {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 2.5; /* Put a gap between the zones so it looks easier to read */
}

.outputtedZonesDisplayer {
  overflow-y: scroll;
  max-height: 300px;
}